### Importing required libraries

In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### Storing CSV in a DataFrame

In [11]:
df = pd.read_csv('europe-motorbikes-zenrows.csv')

### Take a peak into the dataset

In [12]:
df.head()
# Display the first 5 rows of the DataFrame
# 5 is default value for head()

,price,mileage,power,make_model,date,fuel,gear,offer_type,version,link
0,23990,150,218.0,Honda,03/2020,Gasoline,Manual,Demonstration,CBR1000RR-R Fireblade SP,/offers/honda-others-cbr1000rr-r-fireblade-sp-...
1,7500,2871,90.0,BMW F 800 GT,09/2018,Gasoline,Manual,Used,NaN,/offers/bmw-f-800-gt-gasoline-white-f65273c6-6...
2,800,1700,3.0,Nova Motors Retro Star,10/2019,Gasoline,NaN,Used,NaN,/offers/nova-motors-retro-star-gasoline-red-f8...
3,14990,24345,NaN,Aprilia RSV4,03/2016,Gasoline,NaN,Used,RF,/offers/aprilia-rsv4-rf-gasoline-silver-1b51fe...
4,6200,25000,128.0,Kawasaki Ninja ZX-6R,08/2009,Gasoline,NaN,Used,NaN,/offers/kawasaki-ninja-zx-6r-gasoline-blue-2f8...

In [13]:
df.tail()
# Display the last 5 rows of the DataFrame
# 5 is default value for tail()

,price,mileage,power,make_model,date,fuel,gear,offer_type,version,link
34912,17300,10592,125.0,BMW R 1200 RT,04/2018,Gasoline,Manual,Used,R 1200RT LC,/offers/bmw-r-1200-rt-r-1200rt-lc-gasoline-bla...
34913,8500,29000,54.0,Harley-Davidson Iron 883,05/2004,Gasoline,NaN,Used,NaN,/offers/harley-davidson-iron-883-gasoline-blac...
34914,11990,39140,160.0,BMW S 1000 XR,06/2015,NaN,Manual,Used,ABS,/offers/bmw-s-1000-xr-abs-white-6dac336b-e49b-...
34915,8350,11500,56.0,Triumph Bonneville T100,05/2018,Gasoline,Manual,Used,Black mit Garantie,/offers/triumph-bonneville-t100-black-mit-gara...
34916,8500,19000,46.0,Yamaha TMAX 530,07/2018,Gasoline,Automatic,Used,NaN,/offers/yamaha-tmax-530-gasoline-black-eeb19fb...

In [14]:
df.info()
# Get summary of the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34917 entries, 0 to 34916
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   price       34917 non-null  int64
 1   mileage     34917 non-null  int64
 2   power       28598 non-null  float64
 3   make_model  34917 non-null  object
 4   date        34917 non-null  object
 5   fuel        31727 non-null  object
 6   gear        12847 non-null  object
 7   offer_type  34917 non-null  object
 8   version     17413 non-null  object
 9   link        34917 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 2.7+ MB

In [15]:
df.shape
# Get the shape of the DataFrame (rows, columns)

(34917, 10)

In [16]:
pd.set_option('display.float_format', '{:.2f}'.format)
# Set float format to 2 decimal places for better readability
df.describe()
# Get statistical summary of numerical columns

             price    mileage     power
count     34917.00   34917.00  28598.00
mean      45685.32   21831.75    206.16
std     4850120.19  205942.09   9371.43
min           1.00       0.00      1.00
25%        6999.00    2932.00     50.00
50%        9920.00   11000.00     90.00
75%       12590.00   25000.00    125.00
max   888888888.00 9999999.00 913595.00